.header {
  margin: 10px 40px 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, #ff7730, #ffb900);
  height: 100px; }
  @media (min-width: 488px) and (max-width: 767px) {
    .header {
      margin: 10px 20px 10px 20px;
      height: 80px; } }
  @media (max-width: 487px) {
    .header {
      height: 70px;
      margin: 10px 20px 10px 20px; } }
  .header__text-box {
    float: left;
    margin-left: 30px;
    margin-top: 20px; }
    @media (min-width: 488px) and (max-width: 767px) {
      .header__text-box {
        margin-left: 15px; } }
    @media (max-width: 487px) {
      .header__text-box {
        margin-left: 10px; } }
    .header__text-box_heading {
      font-family: 'Henny Penny', cursive;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 300;
      color: white; }
      @media (min-width: 488px) and (max-width: 767px) {
        .header__text-box_heading {
          font-size: 24px; } }
      @media (max-width: 487px) {
        .header__text-box_heading {
          font-size: 16px; } }
      @media (max-width: 302px) {
        .header__text-box_heading {
          font-size: 10px; } }
  .header__logo-box {
    float: right;
    margin: 12px; }
    @media (max-width: 487px) {
      .header__logo-box {
        margin: 10px 10px 0px 0px; } }
    @media (max-width: 302px) {
      .header__logo-box {
        margin-top: 10px; } }
    .header__logo-box_logo {
      height: 80px;
      width: 80px; }
      @media (min-width: 488px) and (max-width: 767px) {
        .header__logo-box_logo {
          height: 60px;
          width: 60px; } }
      @media (max-width: 487px) {
        .header__logo-box_logo {
          height: 50px;
          width: 50px; } }
      @media (max-width: 302px) {
        .header__logo-box_logo {
          height: 40px;
          width: 40px; } }

.copyright {
  margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .copyright-text {
    color: white; }
    @media (min-width: 488px) and (max-width: 767px) {
      .copyright-text {
        font-size: 10px; } }
    @media (max-width: 487px) {
      .copyright-text {
        font-size: 10px;
        margin: 0;
        text-align: center;
        left: 0;
        transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  box-sizing: border-box;
  overflow-x: hidden !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.section-converter {
  height: calc(100vh - 170px);
  margin: 10px 40px 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, rgba(255, 119, 48, 0.8), rgba(255, 185, 0, 0.8)), url(../img/bc.jpg);
  background-size: cover;
  background-blend-mode: color; }
  @media (min-width: 488px) and (max-width: 767px) {
    .section-converter {
      height: calc(110vh - 130px);
      margin: 10px 20px 10px 20px; } }
  @media (max-width: 487px) {
    .section-converter {
      height: calc(100vh - 140px);
      margin: 10px 20px 10px 20px; } }

.heading {
  left: 50%;
  transform: translateX(-50%);
  color: white;
  position: absolute;
  margin-top: 50px;
  font-size: 12px;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .heading {
      font-size: 16px;
      text-align: center;
      margin-top: 30px; } }
  @media (min-width: 488px) and (max-width: 767px) {
    .heading {
      font-size: 12px;
      text-align: center;
      margin-top: 40px; } }
  @media (max-width: 487px) {
    .heading {
      font-size: 10px;
      text-align: center;
      margin-top: 10px; } }

.section-footer {
  height: 30px;
  margin: 10px 40px 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, #ff7730, #ffb900); }
  @media (min-width: 488px) and (max-width: 767px) {
    .section-footer {
      margin: 10px 20px 10px 20px; } }
  @media (max-width: 487px) {
    .section-footer {
      margin: 10px 20px 10px 20px; } }

select {
  outline: 0;
  border: 1px solid #ff7730; }

.select-currency {
  width: 240px;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  font-weight: 600;
  color: #ff7730;
  border: 1px solid #ff7730;
  text-align: center; }

#select {
  position: relative;
  height: calc(100vh - 190px);
  margin: 10px 80px 10px 80px;
  top: 10px; }

.text {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px; }
  @media (max-width: 487px) {
    .text {
      font-size: 10px;
      margin-top: 5px; } }

.convert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 9; }
  @media (min-width: 488px) and (max-width: 767px) {
    .convert {
      top: 70%; } }
  @media (max-width: 487px) {
    .convert {
      top: 75%; } }

.converted-value {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%); }
  @media (min-width: 488px) and (max-width: 767px) {
    .converted-value {
      top: 80%;
      left: 0;
      transform: translateX(0); } }
  @media (max-width: 487px) {
    .converted-value {
      top: 85%; } }

.from-currency-text-input {
  color: white;
  font-size: 24px; }
  @media (min-width: 488px) and (max-width: 767px) {
    .from-currency-text-input {
      font-size: 12px; } }
  @media (max-width: 487px) {
    .from-currency-text-input {
      font-size: 10px; } }

.from-currency-text {
  display: inline;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
  font-size: 24px; }
  @media (min-width: 488px) and (max-width: 767px) {
    .from-currency-text {
      font-size: 12px;
      margin-left: 5px;
      margin-right: 5px; } }
  @media (max-width: 487px) {
    .from-currency-text {
      font-size: 10px;
      margin: 0; } }

#to-currency-value {
  color: white;
  font-size: 12rem; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #to-currency-value {
      font-size: 10rem; } }
  @media (min-width: 488px) and (max-width: 767px) {
    #to-currency-value {
      font-size: 6rem; } }
  @media (max-width: 487px) {
    #to-currency-value {
      font-size: 24px; } }

.to-currency-text {
  display: inline-block;
  color: white;
  font-size: 24px;
  text-transform: uppercase; }
  @media (min-width: 488px) and (max-width: 767px) {
    .to-currency-text {
      font-size: 12px; } }
  @media (max-width: 487px) {
    .to-currency-text {
      font-size: 8px; } }

.equal {
  color: white;
  font-size: 24px; }
  @media (min-width: 488px) and (max-width: 767px) {
    .equal {
      font-size: 12px; } }
  @media (max-width: 487px) {
    .equal {
      font-size: 10px; } }

.row {
  width: 80%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000 !important; }
  @media (min-width: 488px) and (max-width: 767px) {
    .row {
      width: 100%;
      top: 35%; } }
  @media (max-width: 487px) {
    .row {
      width: 120%;
      top: 38%; } }
  @media (max-width: 302px) {
    .row {
      width: 180%;
      top: 38%; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem )/ 3); }
    @media (min-width: 488px) and (max-width: 767px) {
      .row .col-1-of-3 {
        width: 100%; } }
    @media (max-width: 487px) {
      .row .col-1-of-3 {
        width: 100%; } }
