.copyright{
    margin-top: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    &-text{
        color: $color-text;
        @include respond(tab-port){
            font-size: 10px;
        }
        @include respond(mobile){
            font-size: 10px;
            margin: 0;
            text-align: center;
            left: 0;
            transform: translateX(0);
        }
    }
}