.header {
    margin: 10px 40px 10px 40px;

    border-radius: 5px;
    // background-image: linear-gradient(to left, rgb(38, 83, 83), rgb(8, 43, 43));
      background-image: linear-gradient(to right bottom,#ff7730, #ffb900);
    //   background-image: linear-gradient(to left bottom, #08102b, #487eb5);

    // background-image: linear-gradient(to right bottom,
    //         rgba(darkblue, 0.8),
    //         rgba(teal, 0.8));
    // background-color: blue;

    height: 100px;
    
    @include respond(tab-port){
        margin: 10px 20px 10px 20px;
        height: 80px;
    }

    @include respond(mobile) {
        height: 70px;
        margin: 10px 20px 10px 20px;
    }


    &__text-box {
        float: left;
        margin-left: 30px;
        margin-top: 20px;
        @include respond(tab-port) {
            margin-left: 15px;
        }

        @include respond(mobile){
            margin-left: 10px;
        }

        &_heading {
            font-family: 'Henny Penny', cursive;
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 300;
            color: white;

            @include respond(tab-port) {
                font-size: 24px;
            } 
            @include respond(mobile) {
                font-size: 16px;
            }
            @include respond (small-mobile) {
                font-size: 10px;
            }
        }
    }

    &__logo-box {
        float: right;
        margin: 12px;

        @include respond(mobile){
            margin: 10px 10px 0px 0px;
        }
        @include respond(small-mobile){
            margin-top: 10px;

        }

        &_logo {
            height: 80px;
            width: 80px;


            @include respond(tab-port){
                height: 60px;
                width: 60px;
            }
             @include respond(mobile){
                height: 50px;
                width: 50px;
            }
             @include respond(small-mobile){
                height: 40px;
                width: 40px;
            }
        }
    }
}