.section-converter {
    height: calc(100vh - 170px);

    @include respond(tab-port) {

        height: calc(100vh - 140px);
        margin: 10px 20px 10px 20px;
    }

    @include respond(mobile) {

        height: calc(100vh - 140px);
        margin: 10px 20px 10px 20px;

    }

    margin: 10px 40px 10px 40px;

    border-radius: 5px;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.8)),
    url(../img/bac.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}

.heading {
    left: 50%;
    transform: translateX(-50%);
    color: $color-text;
    position: absolute;
    margin-top: 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;


    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab-land) {
        margin-top: 30px;
    }

    @include respond(tab-port) {
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
    }

    @include respond(mobile) {
        font-size: 8px;
        text-align: center;
        margin-top: 10px;
    }

}

.section-footer {
    height: 30px;
    margin: 10px 40px 10px 40px;

    @include respond(tab-port) {
        margin: 10px 20px 10px 20px;
    }

    @include respond(mobile) {
        margin: 10px 20px 10px 20px;
    }
    background-blend-mode: color;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light);
}